*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Noto Sans', sans-serif;
}

.toolbar{
  background-color: #33475b;
  height:10vh;
  border-top: 2px solid orange;
  color:white;
  margin: auto;
  font-size: 13px;
}

.container-tb{
  width:90vw;
  margin:auto;
}

.container-tb:after{
  clear:both;
  content: "";
  display: table;
}

.left{
  float:left;
  clear: both;
  content: "";
  display: table;
}

.right{
  float:right;
}

.toolbar .left>*{
  float:left;
}

.toolbar-item{
  line-height: 10vh;
  padding: 0 15px;
}

.toolbar img{
  height:40px;
  margin-top: 10px;
}

#right-first{
  border-right: 1px solid white;
}

.container{
  width:70vw;
  color:black;
  margin:auto;
  clear:both;
  content: "";
  display: table;
}

.topbar{
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  height: 12vh;
  position: sticky;
  top: 0;
  line-height: 12vh;
}

.topbar img{
  height:30px;
  margin-top: 20px;
  padding-left: 0;
}

.topbar .left>*{
  float:left;
}

.topbar .left .item{
  padding-left: 15px;
  font-size: 15px;
}

.topbar .right>*{
  float:left;
}

#login{
  color:#ff7a59;
  border: 1px solid #ff7a59;
  background-color: white;
  border-radius: 0.1875rem;
  text-align: center;
  padding:10px;
  margin:20px;
  line-height: 100%;
}

#gets{
  color:#fff;
  border: 1px solid #ff7a59;
  background-color:#ff7a59;
  border-radius: 0.1875rem;
  text-align: center;
  padding:10px;
  margin:20px 10px;
  line-height: 100%;
}

.navbar{
  background-color: #fff;
  height:13vh;
  color: #33475b;
  font-weight: bold;
  line-height: 15vh;
}

.navbar img{
  margin-top:20px;
}

.navbar.right{
  clear: both;
  content: "";
  display: table;
}

.menu-item{
  float:left;
  margin: 0 20px;
  font-size: 15px;
}

.blu-section{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.text#growsec{
  width:430px;
  float:left;
  color:white;
  height: 100%;
}

.text#growsec>h1{
  font-size: 3.4375rem;
  line-height: 1.1818;
  font-weight:bold;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 0.5em;
  margin-left: 0px
}

.text#growsec>.main-paragraph{
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.text#growsec>a{
  color: #33475b;
  font-size: 1rem;
  padding: 1.625rem 3rem;
  background-color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  border: 0;
  border-radius: .1875rem;
  text-decoration: none;
}

.text#growsec>.footer-paragraph{
  color: #cbd6e2;
  width:224px;
  margin: 2em 2em 2em 0;
}


border-bottom: 2px solid color: #33475b;
